img.logo{
    max-width: 140px;
    float: left;
}
.menu-header{
    background: #2196F3;
    border-color: #2196F3;
    border-radius: 0;
}

.products{}
.title{
    font: 800 2em "Open Sans";
    margin: 20px 4px;
    color: #2196F3;
    text-align: center;
}
.product{
    text-align: center;
    margin-bottom: 50px;
}
.product img{}
.product h2{
    font: 200 1em "Open Sans";
    margin: 6px;
    text-transform: uppercase;
}
.product a{
    background: #673AB7;
    color: #FFF;
    text-decoration: none;
    padding: 6px 24px;
    max-width: 100%;
}
.product a:hover{
    background: #2196f3;
}
.img-cart{
    max-width: 40px;
}
.total-cart{
    float: right;
    padding: 20px;
    font: 600 2.2em "Open Sans";
    background: #2196F3;
    color: #FFF;
}
.total-cart span{}
.finish-card{
    float: right;
    width: 100%;
}
.finish-card a{
    background: #2d416c;
    padding: 10px 20px;
    color: #FFF;
    font-weight: bold;
    margin: 50px 0;
    float: right;
}
.finish-card a:hover{
    background: #28344f;
}
.cart-action-item{
    font: 800 2em "Open Sans";
    color: #2196F3;
}
.btn-form{
    background: #2196F3;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
}
.form-custom{margin-bottom: 50px;}

.botao-login{
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
}

.botao-cadastrar{
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    background: #2196F3 !important;
    border-color: #2196F3 !important;
}

.logo{
    font-size: 25px;
    font-weight: 700;
    color: white !important;
}

.botao-pagamento{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    background: #2196F3;
    font-weight: 600;
    border-color: #2196F3;
}